.department-container{
 padding: 30px 20px;
 border: 1px solid red;
 height: 100vh;
 line-height: 2;
}

.department-container .header{
  display: flex;
  gap: 10px;
}

/* .department-container .header button{
  border-style: none;
  padding: 0 5px;
  border-radius: 5px;
} */

.header-text span{
  font-weight:300;
}


.departments-grid {
  display:grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin-top: 15px;
}

.department-card{
  padding: 10px 15px;
  border: 1px solid rgba(128, 128, 128, 0.338);
  border-radius: 30px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.department-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
  border-color: rgb(31, 168, 154);
  background: #f0fef9;
}

.department-card:active {
  transform: translateY(-2px);
}

.department-icon{
  border-radius: 50%;
  border: 1px solid gray;
  padding: 10px;
  margin:0;
  transition: all 0.3s ease;
}

.department-card:hover .department-icon {
  transform: scale(1.15);
}

.department-info-container{
  display: flex;
  gap: 4px;
  align-items: center;
}

.department-name{
  font-weight: bold;
}

.wait-time .wait-time-value {
  padding: 3px 5px;
  border-radius: 40px;
  background-color: rgba(128, 204, 204, 0.265); 
}